# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Poetry
.poetry-virtualenvs/
poetry.lock

# Environments
.envs/

# IDEs
.idea/
.vscode/

# Docker
docker-compose.override.yml

# Static files
/static/
/media/
